@font-face {
  font-family: Lato;
  src: url(lato-v23-latin-regular.woff);
}

*{
  margin: 0;
  padding: 0;
  font-family: Lato;
  box-sizing: border-box;
  color: #1c232d;
}

body{
  padding-top: 9em;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0.1em 0.3em lightgray;
}

.logo{
  display: flex;
  flex-shrink: 0;
}

.logo p a{
  font-family: Montserrat;
  font-size: 1.5em;
  text-decoration: none;
  margin-left: 2em;
}

.header nav{
  display: flex;
  flex-shrink: 0;
}

.header nav ul li{
  display: inline-block;
  list-style: none;
  margin-left: 1em;
  margin-right: 2em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

.header nav ul li p{
  color:#f48b0c;
  font-weight:bold;
}

.header nav ul li a{
  font-family: Lato;
  font-style: normal;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

.header nav ul li a:hover{
  color:#f48b0c;
}

@media screen and (max-width:1100px) {
  .header nav ul li p, .header nav ul li a{
    font-size: 0.8em;
  }
  .logo p a{
    font-size: 1.1em;
  }
}

.column{
  float: left;
}

.column.left{
  width: 50%;
  text-align: right;
}

.img1{
  width: 21em;
  margin-right: 10em;
}

.column.right{
  width: 50%;
  position: relative;
}

.brief{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  width: max-content;
}

.name{
  font-family: Montserrat;
  font-size: 3em;
  margin-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.title{
  font-family: Montserrat;
  font-size: 1.3em;
  text-align: right;
  line-height: 1.5;
}

.contact, .details{
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
  width: max-content;
  margin-top: 6em;
}

.methods{
  font-weight: bold;
  line-height: 1.65;
  text-align: right;
  margin-left: 12em;
}

.details{
  margin-left: 1em;
}

.details p{
  line-height: 1.65;
}

.icon{
  text-align: left;
}

.linkedin{
  width: 2em;
  margin-right: 0.3em;
}

.github{
  width: 2em;
}

.row:after{
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width:1100px) {
  .column.left, .column.right {
    width: 100%;
  }
  .column.left{
    text-align: center;
  }
  .img1{
    margin: 0;
  }
  .brief{
    justify-content: center;
    width: 100%;
  }
  .name{
    text-align: center;
    margin-left: 0;
  }
  .title{
    text-align: center;
  }
  .contact{
    margin-top: 0;
  }
  .methods{
    margin-left: 3em;
  }
}

.box2{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.main{
  padding: 3em 7em 0 7em;
}

.heading{
  font-family: Montserrat;
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0;
}

.content{
  font-family: Montserrat;
  font-size: 1.1em;
  line-height: 1.5;
}

.quotation{
  width: 2em;
  margin-bottom: 1em;
}

.quote{
  font-family: Montserrat;
  font-size: 1.1em;
  line-height: 1.5;
  margin-left: 1em;
  padding-left: 1em;
  border-left: solid #f48b0c;
}

.origin{
  font-family: Lato;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: right;
  margin: 1em 0 3em 0;
  font-style: italic;
}

@media screen and (max-width:1100px){
  .main{
    padding: 3em 4em 0 4em;
  }
  .heading{
    font-size: 1.1em;
  }
  .content, .quote, .origin{
    font-size: 0.8em;
  }
}